{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "arguments": {
      "participantId": $util.toJson($ctx.args.participantId),
      "attemptCount": $util.toJson($ctx.args.attemptCount)
    },
    "identity": $util.toJson($ctx.identity)
  }
}
