#set($filter = $ctx.args.filter)
#set($exp = "")
#set($expNames = {})
#set($expValues = {})

#if($filter.id && $filter.id.eq)
  #set($exp = "#id = :id")
  $util.qr($expNames.put("#id", "id"))
  $util.qr($expValues.put(":id", $util.dynamodb.toDynamoDBJson($filter.id.eq)))
#end

#if($filter.email && $filter.email.eq)
  #if($exp != "")
    #set($exp = "$exp AND #email = :email")
  #else
    #set($exp = "#email = :email")
  #end
  $util.qr($expNames.put("#email", "email"))
  $util.qr($expValues.put(":email", $util.dynamodb.toDynamoDBJson($filter.email.eq)))
#end

#if($exp != "")
{
  "version": "2018-05-29",
  "operation": "Scan",
  "filter": {
    "expression": "$exp",
    "expressionNames": $util.toJson($expNames),
    "expressionValues": $util.toJson($expValues)
  }
}
#else
{
  "version": "2018-05-29",
  "operation": "Scan"
}
#end
